.btn {
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 140px;
    min-width: 80px;
    max-height: 40px;
    font-family: 'IM Fell DW Pica', serif;
        @media (max-width: 540px) {
        font-size: 14px;
        min-width: 80px;
        max-height: 40px;
    }
}